# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg
*.egg-info/
dist/
build/
.env
.venv/
chromadb_store/
# VS Code
.vscode/
# OS
.DS_Store
Thumbs.db

# Node/React
node_modules/
frontend/node_modules/
frontend/build/
frontend/.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output
*.out
*.tmp
*.swp

# Mac
*.DS_Store

# Windows
*.Thumbs.db

# Others
*.bak
*.old
*.orig
